.goodbye {
  background-image: url('~images/content/budda_new.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.goodbye__polygon {
  height: 90px;
  width: 100%;
  background: white;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}