.nav__list {
  display: flex;
}

.nav__item {
  cursor: pointer;
  color: $text-color;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
  &--footer {
    color: $text-color-white;
  }
}