.reviews {
  background: grey;
}

.author__pic-area {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.author__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}