.scroll {
  position: absolute;
  top: 90vh;
  //left: 50%;
  //right: 50%;
}

.scroll__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__text {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
}

.scroll_icon-area {
  width: 30px;
  height: 30px;  
}

.scroll__icon {
  fill: $text-color;
}