.social__list {
  display: flex;
}

.social__item {
  cursor: pointer;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.social-icon-area {
  width: 25px;
  height: 25px;
  &--circle {
    opacity: 0.3;
    border: solid 1px $text-color-white;
    border-radius: 50%;
    padding: 5px;
  }
}

.social-icon {
  width: 25px;
  //height: 25px;
  width: 100%;
  fill: $blue-dark;
  &--light {
    opacity: 0.3;
    fill: $text-color-white;
  }
}