.welcome-full {
  font-size: 72px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  position: relative;
}

.welcome-short {
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
}