script(type="text/x-template")#works-container
  .project
    works-image(
      :v-if="allLoaded"
      :works="works"
      :currentWork="currentWork"
      :lastUp="lastUp"
      :lastDown="lastDown"
      @slide="handleSlide"
    )
    works-info(
      :currentWork="currentWork",
      :works="works"
    )

script(type="text/x-template")#works-image
  .project__image
    .project__pic-area
      img.project__big-pic(:src="currentWork.photo ? 'https://webdev-api.loftschool.com/' + currentWork.photo : ''")
      works-buttons(
        :lastUp="lastUp",
        :lastDown="lastDown",
        @slide="$emit('slide', $event)"
      )
      span.project__number {{works.indexOf(currentWork) + 1}}
      works-preview(
        :works="reversedWorks",
        :currentWork="currentWork"
      )        

script(type="text/x-template")#works-info
  .project__desc
    works-tags(
      :tagsArray="tagsArray",
      :currentWork="currentWork"
    )
    .project__headline {{currentWork.title}}
    .project__info {{currentWork.description}}
    .project__link
      a(class="link__text" :href="currentWork.link") Посмотреть сайт

script(type="text/x-template")#works-preview
  ul.project__list
    li.project__item(
      v-for="work in works"
      :class="{'project__item--active': work.id === currentWork.id}"
    )
      .project__pic-area
        img.project__small-pic(:src="work.photo ? 'https://webdev-api.loftschool.com/' + work.photo : ''")
        .overlay

script(type="text/x-template")#works-buttons
  .project__switcher.switcher
    button(@click.prevent="$emit('slide', 'next')" href="#" class="switcher__button" :class="{'switcher__button--last': lastUp}")
      +icon('arrow', "switcher__ico switcher__ico--up")
    button(@click.prevent="$emit('slide', 'prev')" href="#" class="switcher__button" :class="{'switcher__button--last': lastDown}")
      +icon('arrow', "switcher__ico switcher__ico--down")

script(type="text/x-template")#works-tags
  .project__tags
    ul.tags__list
      li.tags__item(v-for="tag in tagsArray")
        span(class="tags__text") {{tag}}